#myInfo {
	color: white;
}

footer > .navbar {
	padding: .25rem 0;
}

#resumeLinkerContainer {
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; right: 10%;
	width: 125px;
	height: 90px;
	font-size: 12px;
	color: #888888;
}

.resumeNavContainer {
	margin: 5px 0px;
	width: 130px;
	height: 35px;
}

.resumeNavContainer:hover a {
	color: white;
}

.textContainer-Resume {
	width: 95px;
	height: 10px;
	padding-top: 8px;
	float: right;
}